* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  list-style: none;
  /* cursor: none; */
}

body {
  font-family: sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

nav {
  display: flex;
  gap: 0 15px;
}

.hover-this {
  transition: all 0.4s;
  text-decoration: none;
  padding: 2rem 3rem;
}

span {
  font-size: 45px;
  display: block;
  color: #fff;
  /* padding: 8px, 20px; */
  /* border: 1px solid #fff; */
  /* pointer-events: none; */
  transition: all 0.2s;
}

.cursor {
  position: fixed;
  /* top: 0;
  left: 0; */
  background: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  padding: 3px;
  pointer-events: none;
}

.hover-this:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(15);
}
